html,body, h1, h2, h3, p, a, ul, li{
    margin: 0;
    padding: 0;
    font: normal 15pt Arial;
    color: aliceblue;
    text-decoration: none;   
}
ul{
    list-style: none;
}
html {
    font-size: 65,2%;
}

.imgs1 > img {

   width: 240px;
   height: 300px;
   margin-left: 10px ;
   align-self: auto;
 
}
#msg {
    margin-right: 20px;
}
.estrutura-grid{
    display: grid;
    grid-gap: 21px;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 70px 600px 1px;
    
    grid-template-areas: 
    "header  header  header"
    "main     main    main"
    "footer  footer  footer";
}

.header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #1f1f22;
    padding: 0 20px;
}

.menu-desktop ul{
    display: flex;
}

.menu-desktop li+li{
    margin-left: 20px;
}


.main{
    grid-area: main;
    background: #1C1B29;
    display: flex;
    align-items: center;
    flex-direction:column ;
}
h1,h2 {
    font-size: 2.0rem ;
    margin: 20px 0;
    font-style: italic;

}
.bloco {
    background: rgba(26, 27, 26, 0.541);
    width: 40%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: auto;


}


.footer{
    grid-area: footer;
    background: #1f1f22;
    width: 100%;
    height: 80px;
    text-align: center;
}
 
@media screen and (max-width: 980px){
    .estrutura-grid{
        display: grid;
        grid-gap: 21px;
    
        grid-template-columns: 1fr;
        grid-template-rows: 70px 600px 1px;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
}

